h1 {
    color: green; /* цвет текста */
    font-size: 40px; /* размер шрифта */
    text-align: center; /* выравнивание по центру */
}
.post-1 {
    width: 70%;  /* ширина блока */
    margin: auto; /* центрирование блока */
    background-color: darksalmon;
    padding: 10px; /* внутренний отступ */
}
.post-2 {
    background-color: lightgreen;
}
h3 {
    font-size: 28px;
    text-align: center;
}
p, a {
    font-size: 24px;
    text-align: center;
}
a {
    display: block; /* делаем тег блочным */
}
img {
    display: block; /* делаем элемент блочным */
    margin: auto;
    width: 50%; /* ширина картинки. */
}
.title-1 {
    color: red;
}
.title-2 {
    color: violet;
}
/*
    margin - внешний отступ
    margin:auto - распределение отступа справа и слева равномерно

    320-480px - mobile
    480-768 - планшет
    768-992 - ноутбук
    992-1400 - пк
    1400> - мониторы


    Задача. Сделать разный размер картинок img

    kebab-case - каждое слово с маленькой буквы через тире title-1, user-profile-avatar
    camelCase - каждое слово, кроме первого с большой буквы, слитно, addNewElementInArray
    snake_case - каждое слово с маленькой буквы через нижний слэш (_), user_profile_img

    Задача. 1. Увеличить размер h3 до 28px, отцентрировать
            2. Увеличить размер a, p до 24px, отцентрировать  
*/


/* открываем комментарий 

    selector {
        property: value;
    }
    селектор {
        свойство: значение;
    }
    селектор - выбор html тега, который хотим стилизовать
    свойство - параметр, который изменить
    значение - то, на что меняем
    Виды селекторов: 
        1. Селектор по тегу - h1 {}, p {}, img {}
        2. Селектор по классу -  .className, .title-1 {}, .title-2 {}

    ctrl + / - комментарий 
    shift + {} - 

    блочные теги (h1-h6, p, div) - занимают всю ширину экрана
    строчные теги (a, span, img) - занимает столько ширины сколько контент(текста)а в нем

    Ширина картинки. 
        при изменении ширины, высота автоматически масштабируется


закрываем комментарий */