* {
    margin: 0; /* сброс внешнего отступа */
    padding: 0; /* сброс внутреннего отступа */
    box-sizing: border-box; /* padding входит в ширину/высоту блока */
}
header {
    background-color: #f2f2f2;
    padding: 20px 0; /* сверху/снизу - 20px, справа/слева - 0 */
    margin-bottom: 40px;
}
h1 {
    font-size: 40px;
    text-align: center;
}
h1:hover {
    color: red;
}
.container {
    width: 85%;
    background-color: #f2f2f2;
    margin: auto; /* центрирование блока */
    padding: 20px;
    display: flex;
    justify-content: center; /* выравнивание по горизонтали */
    flex-wrap: wrap; /* убираем поведение flex в одну строку */
}
.item {
    width: calc(50% - 20px); /* ширина */
    height: 250px; /* высота */
    background-color: #ee7d28; /* цвет фона */
    margin: 10px; /* внешний отступ */
    box-shadow: 8px 7px 55px -1px rgba(0, 0, 0, 0.33);
    transition: 1s;
}
.item:hover {
    transform: scale(1.1) rotate(10deg); /* scale - масштабирование, rotate - поворот */
}
.item-1 {
    background-image: url(./images/img1.jpg); /* добавляем фоновую картинку */
    background-size: cover; /* масштабируем */
    /* background-repeat: no-repeat; /* не повторять фон */ 
    /* background-position: center; разместить фон по центру  */
}
/*
    Псевдоклассы - селектор особого состояния элемента
        :hover - состояние при наведении мыши
*/

/*
    Задача. Добавить картинки для 8 блоков

    background-image - фоновая картинка для блока
    url() - путь к картинке 

    background-size: cover || contain; 
            cover - на всю ширину блока, масштабирует по высоте
            contain - на всю высоту блока, масшатбирует по ширине

    background-position: center; 
        определяет позицию фоновой картинки внутри блока

    background-repeat: no-repeat; 
        если картинка меньше блока, она автоматически начинает повторяться,
            данное свойство убирает это поведение
*/
/* 
    

    100 / 2 = 50
    100 / 3 = 33
    100 / 4 = 25


    * - селектор, который выбирает все элемент 


    Есть стили, которые браузер добавляет по умолчанию,
    чаще всего они нам мешают и мы их убираем. 

    margin - это внешний отступ. 
    1. -top - сверху
    2. -right - справа 
    3. -bottom - снизу
    4. -left - слева 

    margin: 10px; - со всех сторон
    margin: 10px 20px;  10px - сверху/снизу, 20px - справа/слева
    margin: 10px auto 20px; 10px - сверху, auto - справа слева, 20px - снизу
    margin: 10px 20px 30px 40px; 
        10px - сверху, 20px - справа, 30px - снизу, 40px - слева


    display: block; - делаем элемент блочным
    display: inline || inline-block; - делаем элемент строчным
    
    padding - внутренний отступ. 
*/