ul {
    list-style: square; /* none-убирает маркер */
}
ul li {
    color: green;
    font-size: 24px;
}
table {
    border-collapse: collapse; /* убирает смежные границы ячеек */
}
td, th {
    border: 1px solid black; /* границы каждой ячейки */
    font-size: 24px;
    padding: 10px; /* внутренний отступ */
}
/* 
    border - граница, рамка
    1px - толщина границы
    solid - тип (одна линия)
    black - черный цвет границы 

    Задача. Поменять размер (20px) шрифта  li  у второго списка - ol
    Вложенный селектор 
        ul li {

        }
        позволяет выбрать все теги li, который находятся внутри ul


    list-style - определяет стиль маркера
*/